button{
    width: 100%
}
body{
    margin: 0
}

p{
    background-color:coral;
    padding-top: 20px;
    color:white;
    font-weight: 600;
    font-size:30px;
    text-align: center;
    margin: 0
}